.newsletter-bloc {
  display: flex;
  justify-content: space-between;
}
.newsletter-bloc .news-list {
  width: 48%;
  /* background-color: red; */
  overflow: hidden;
}
.newsletter-bloc .news-list input{
  
}
.newsletter-bloc .news-text {
  width: 50%;
  /* background-color: bisque; */
}
.newsletter-bloc .news-text textarea{
  width: 100%;
  height: 300px;
  resize: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;

  /* background-color: bisque; */
}

button{
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--darkbluecolor);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  /* height: 30px; */
}
