<div class="panier-left p-2">
  <div class="section-title">
    <h4>Historiques des ventes</h4>
    <hr />
  </div>
  @if (ventes.length>0) {

    <table datatable [dtOptions]="dtOptions" class="table">
      <thead id="thead">
        <tr>
          <th>Date</th>
          <th>Nombre d'articles</th>
          <th>Montant</th>
          <th >Paiment</th>
          <th >Livraison</th>
          <th class="last-th">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of ventes; track $index) {
        <tr>
          <td>{{ item.date_commande }}</td>
          <td>{{ item.nombre_articles }}</td>
          <td>{{ item.montant }}</td>
          <td><img src="{{item.mode_paiement}}" alt="" /></td>
          <td>{{ item.etat }}</td>
          <td>

            <i
            class="bi bi-eye"
            data-bs-toggle="modal"
            data-bs-target="#detailsSignalement"
          ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }

</div>
