<div class="container mt-3">
  <div class="form-container">
    <h5 class="fw-bold fs-4 text-center">Inscription</h5>
    <div class="d-flex justify-content-between px-4">
      <div class="form-left">
        <div class="form-element">
          <label for="">Nom</label>
          <input type="email">
        </div>
        <div class="form-element">
          <label for="">Date</label>
          <input type="password">
        </div>
        <div class="form-element">
          <label for="">Adresse</label>
          <input type="password">
        </div>
        <div class="form-element">
          <label for="">Email</label>
          <input type="password">
        </div>
      </div>
      <div class="form-left">
        <div class="form-element">
          <label for="">Email</label>
          <input type="email">
        </div>
        <div class="form-element">
          <label for="">Pass</label>
          <input type="password">

        </div>
        <div class="form-element">
          <label for="">Telephone</label>
          <input type="email">
        </div>
        <div class="form-element">
          <label for="">Passe</label>
          <input type="password">

        </div>
      </div>
      <!-- <div class="form-image">
        <img src="assets/login_image.png" alt="">
      </div> -->
    </div>
    <div class="text-center w-100 mt-5">
      <button class="btn">Connexion</button>
    </div>
  </div>
</div>
