<div class="container mt-3">
  <div class="form-container">
    <!-- <h5 class="fw-bold fs-4 text-center">Inscription</h5> -->
    @if (!displayForme) {
    <h5 class="fw-bold fs-4 text-center">
      Veuillez choisir votre type de profil, pour l'inscription
    </h5>
    <div class="button-choix">
      <button class="btn" (click)="formTypeDisplay(true)">
        Je suis Vendeur
      </button>
      <button class="btn" (click)="formTypeDisplay(false)">
        Je suis Client
      </button>
    </div>
    } @if (displayForme) {
    <h5 class="fw-bold fs-4 text-center">
      Inscription en tant que @if (formType) {Vendeur}@else{Client}
    </h5>

    } @if (displayForme) {
    <div class="d-flex justify-content-between px-4 w-100 form-left-container">
      <div class="form-left">
        <div class="form-element">
          <label for="">Nom</label>
          <input type="text" [(ngModel)]="nom" />
        </div>
        <div class="form-element">
          <label for="">Naissance</label>
          <input type="date" [(ngModel)]="naissance" />
        </div>
        <div class="form-element">
          <label for="">Adresse</label>
          <input type="text" [(ngModel)]="adresse" />
        </div>
        <div class="form-element">
          <label for="">Email</label>
          <input type="text" [(ngModel)]="email" />
        </div>
        @if (formType) {

        <div class="form-element">
          <label for="">NIN</label>
          <input type="text" [(ngModel)]="nin" />
        </div>
        }
      </div>

      <div class="form-left mt-3">
        <div class="form-element">
          <label for="">Prenom</label>
          <input type="text" [(ngModel)]="prenom" />
        </div>
        <div class="form-element">
          <label for="">Genre</label>
          <select name="" id="" [(ngModel)]="genre">
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
        </div>
        <div class="form-element">
          <label for="">Telephone</label>
          <input type="text" [(ngModel)]="numero" />
        </div>
        @if (formType) {

        <div class="form-element">
          <label for="">NINEA</label>
          <input type="text" [(ngModel)]="ninea" />
        </div>
        }
        <div class="form-element">
          <label for="">Passe</label>
          <div class="d-flex justify-content-center w-75">

            <input type="password" id="passwordInput" [(ngModel)]="pass" style="width: 80%;" />
            <i class="bi bi-eye"  (click)="showPassword()"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center w-100 mt-5">
      <i class="bi bi-arrow-return-left" (click)="getBackChoice()"></i>
      @if (formType) {

        <button class="btn" (click)="inscription('api/registerCommercant')">Inscription</button>
      }@else {
        <button class="btn" (click)="inscription('api/registerClient')">Inscription</button>

      }
    </div>
    }
  </div>
</div>
