<div class="container mt-3">
  <div class="form-container">
    <!-- <h5 class="fw-bold fs-4 text-center">Inscription</h5> -->
    @if (!displayForme) {
    <h5 class="fw-bold fs-4 text-center">
      Veuillez choisir votre type de profil, pour l'inscription
    </h5>
    <div class="button-choix">
      <button class="btn" (click)="formTypeDisplay(true)">
        Je suis Vendeur
      </button>
      <button class="btn" (click)="formTypeDisplay(false)">
        Je suis Client
      </button>
    </div>
    } @if (displayForme) {
    <h5 class="fw-bold fs-4 text-center">
      Inscription en tant que @if (formType) {Vendeur}@else{Client}
    </h5>

    } @if (displayForme) {
    <div class="d-flex justify-content-between px-4 w-100 form-left-container">
      <div class="form-left">
        <div class="form-element">
          <label for="">Nom <span class="" id="validationNom"></span></label>
          <input type="text" [(ngModel)]="nom" (input)="nomValidate()"/>
        </div>
        <div class="form-element">
          <label for="">Naissance <span class="" id="validationNaissance"></span></label>
          <input type="date" [(ngModel)]="naissance" id="inputDate" (input)="dateValidate()"/>
        </div>
        <div class="form-element">
          <label for="">Adresse <span class="" id="validationAdresse"></span></label>
          <input type="text" [(ngModel)]="adresse" (input)="adresseValidate()"/>
        </div>
        <div class="form-element">
          <label for="">Email <span class="" id="validationEmail"></span></label>
          <input type="text" [(ngModel)]="email" (input)="emailValidate()"/>
        </div>
        @if (formType) {

        <div class="form-element">
          <label for="">NIN <span class="" id="validationNIN"></span></label>
          <input type="text" [(ngModel)]="nin" (input)="ninValidate()"/>
        </div>
        }
      </div>

      <div class="form-left mt-3">
        <div class="form-element">
          <label for="">Prenom <span class="" id="validationPrenom"></span></label>
          <input type="text" [(ngModel)]="prenom"  (input)="prenomValidate()"/>
        </div>
        <div class="form-element">
          <label for="">Genre</label>
          <select name="" id="" [(ngModel)]="genre">
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
        </div>
        <div class="form-element">
          <label for="">Tel <span class="" id="validationTelephone"></span></label>
          <input type="text" [(ngModel)]="numero" (input)="telephoneValidate()" />
        </div>
        @if (formType) {

        <div class="form-element">
          <label for="">NINEA <span class="" id="validationNinea"></span></label>
          <input type="text" [(ngModel)]="ninea" />
        </div>
        }
        <div class="form-element">
          <label for="">Passe <span class="" id="validationPasse"></span></label>
          <div class="d-flex justify-content-center w-75">

            <input type="password" id="passwordInput" [(ngModel)]="pass" (input)="passeValidate()" style="width: 80%;" />
            <i class="bi bi-eye"  (click)="showPassword()"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center w-100 mt-5">
      <i class="bi bi-arrow-return-left" (click)="getBackChoice()"></i>
      @if (formType) {

        <button class="btn" (click)="inscription('api/registerCommercant')" [disabled]="detectedInputError">Inscription</button>
      }@else {
        <button class="btn" (click)="inscription('api/registerClient')" [disabled]="detectedInputError">Inscription</button>

      }
    </div>
    }
  </div>
</div>
