.form-container {
  height: 500px;
  border: 10px var(--darkbluecolor) solid;
  /* background-color: red; */
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
 display: flex;
  align-items: center;
  flex-direction: column;
   justify-content: space-evenly;

  button{
    width: 60%;
    background-color: var(--darkbluecolor);
    color: white;
    font-weight: bold;
  }

  h5{
    color: var(--darkbluecolor);
    /* color: red; */
  }
}

/* .form-image {
  width: 50%;
} */

.form-left {
  width: 45%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input, select {
    width: 70%;
    border: none;
    border-bottom: 2px var(--darkbluecolor) solid;
    /* padding-left: 20px; */
    transition: 1s ease;
  }

  input:focus, select:focus {
    border-bottom: 5px var(--darkbluecolor) solid;
  }
  .form-element {
    display: flex;
    justify-content: space-between;
  }
}


/* choix du type d'inscription */
.button-choix{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.button-choix button{
  background-color: var(--darkbluecolor);
  color: white;
  font-weight: bold;
  width: 49%;
}


/* incons retour */

.bi-arrow-return-left
{
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.error{
  border: red;
}


/* responsive design */
@media screen and (max-width:767px){
  .form-container .form-container-element {
    flex-direction: column-reverse;
  }
  .form-container {
    height: auto;
    width: 100%;
    /* margin-top: 200px; */
    button{
      width: 50%;

      margin: 20px 5px 20px 5px;
    }
    .button-choix{
      width: 100%;
    }
  }

  .form-image {
    width: 100%;
  }
  .form-image img{
    width: 100%;
    /* height: 100px; */
  }

  .form-left {
    width: 100%;
    height: 180px;

    input {
      width: 100%;
      transition: 1s ease;
    }
  }

  .form-left-container{
    display: flex;
    flex-direction: column;
  }
}

/* Validation */

/* span.span_validate
{
  font-size: 12px;
  display: none;
}
.error
{
  display: inline-block !important;
  color: red !important;
}
.success
{
  display: inline-block !important;
  color: rgb(45, 194, 77) !important;
} */
