<div class="container mt-3">
  <div class="form-container px-5">
    <h5 class="fw-bold fs-4" id="initPassTitle">Réinitialisation du mot passe</h5>
    <div class="d-flex justify-content-center align-items-center form-container-element">

      <div class="form-left">
        <div class="form-element flex-column">
          <div class="d-flex justify-content-between">

            <label for="">Nouveau Pass</label>
            <div class="change-pass-bloc">

              <input type="password" (input)="passeValidate()" id="passwordInput" style="width: 100%;" [(ngModel)]="pass" />
              <i class="bi bi-eye"  (click)="showPassword()"></i>
            </div>
          </div>
          <span class="span_validate" id="validationPasse"></span>
        </div>
        <div class="form-element flex-column">
          <div class="d-flex justify-content-between">

            <label for="">Confirm Pass</label>
            <div class="change-pass-bloc">

              <input type="password" (input)="isPassConforme()" [disabled]="!isConfirmInputAllowed" id="passwordInput" style="width: 100%;" [(ngModel)]="confirmPass" />
              <i class="bi bi-eye"  (click)="showPassword()"></i>
            </div>
          </div>
          <span class="span_validate" id="ConfirmPasseInput"></span>
        </div>
      </div>
      <div class="form-image">
        <img src="assets/resetPass_img.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="text-center w-100">
      <button class="btn" (click)="initaliserPass()" [disabled]="!canSend">Réinitialiser</button>
    </div>
  </div>
</div>
