<div class="container mt-3">
  <div class="form-container px-5">
    <h5 class="fw-bold fs-4">Connexion</h5>
    <div class="d-flex justify-content-center align-items-center">

      <div class="form-left">
        <div class="form-element">
          <label for="">Email</label>
          <input type="email" [(ngModel)]="email" style="margin-left: 10px;">
        </div>
        <div class="form-element">
          <label for="">Pass</label>
          <input type="password" [(ngModel)]="password" style="margin-left: 10px;">
          <i class="bi bi-eye"></i>
        </div>
      </div>
      <div class="form-image">
        <img src="assets/login_image.png" alt="">
      </div>
    </div>
    <div class="text-center w-100">
      <button class="btn" (click)="connexion()">Connexion</button>
    </div>
  </div>
</div>
