.form-container {
  height: 500px;
  border: 10px var(--darkbluecolor) solid;
  /* background-color: red; */
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  button{
    width: 60%;
    background-color: var(--darkbluecolor);
    color: white;
    font-weight: bold;
  }

  h5{
    color: var(--darkbluecolor);
    /* color: red; */
  }
}

.form-image {
  width: 50%;
}

.form-left {
  width: 45%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 100%;
    border: none;
    border-bottom: 2px var(--darkbluecolor) solid;
    /* padding-left: 20px; */
    transition: 1s ease;
  }
  input:focus {
    border-bottom: 5px var(--darkbluecolor) solid;
  }
  textarea {
    width: 100%;
    border: none;
    border-bottom: 2px var(--darkbluecolor) solid;
    /* padding-left: 20px; */
    transition: 1s ease;
    height: 100px;
  }

  .form-element {
    display: flex;
  }
}

i{
  cursor: pointer;
}


/* responsive design */
@media screen and (max-width:767px){
  .form-container .form-container-element {
    flex-direction: column-reverse;
  }
  .form-container {
    height: auto;
    width: 100%;
    /* margin-top: 200px; */
    button{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .form-image {
    width: 100%;
  }
  .form-image img{
    width: 100%;
    /* height: 100px; */
  }

  .form-left {
    width: 100%;
    height: 100px;

    input {
      width: 100%;
      transition: 1s ease;
    }
  }

  /* h5#initPassTitle{
    font-size: 10px;
  } */

}


