<div class="panier-left p-2">
  <div class="section-title">
    <h4 class="text-center fw-bold">Conditions d'utilisation</h4>
  </div>
  <div class="text-items pt-2">
    <div class="text-item">
      <h5>Object :</h5>
      <p class="">
        Les présentes « conditions générales d'utilisation » ont pour objet
        l'encadrement juridique de l’utilisation du site et de ses services. Ce
        contrat est conclu entre : Le gérant du site internet, ci-après désigné
        « l’Éditeur », Toute personne physique ou morale souhaitant accéder au
        site et à ses services, ci-après appelé « l’Utilisateur ». L’utilisation
        du site implique l’acceptation pleine et entière des conditions
        générales d’utilisation.Ces conditions d’utilisation sont susceptibles
        d’être modifiées ou complétées à tout moment, les Utilisateurs du site
        sont donc invités à les consulter de manière régulière.l’Utilisateur
        n’est pas en accord avec ces conditions, il ne doit en aucun cas faire
        usage de ce site.
      </p>
    </div>
    <div class="text-item">
      <h5>Compte Utilisateur :</h5>
      <p class="">
        Vous êtes responsable de la confidentialité de votre compte et de vos
        informations de connexion. Vous acceptez de nous informer immédiatement
        de toute utilisation non autorisée de votre compte.
      </p>
    </div>
    <div class="text-item">
      <h5>Contenu utilisateur :</h5>
      <p class="">
        Vous êtes responsable du contenu que vous publiez sur notre
        plateforme.Nous nous réservons le droit de supprimer tout contenu jugé
        inapproprié ou en violation de nos règles.
      </p>
    </div>
    <div class="text-item">
      <h5>Droit de proprité intellectuelle :</h5>
      <p class="">
        Vous conservez les droits de propriété intellectuelle sur le contenu que
        vous téléchargez, mais vous nous accordez une licence pour utiliser,
        afficher et distribuer ce contenu sur notre plateforme.
      </p>
    </div>
    <div class="text-item">
      <h5>Limitation de responsasbilité :</h5>
      <p class="">
        Nous ne sommes pas responsables des dommages directs, indirects,
        spéciaux, consécutifs ou exemplaires résultant de l'utilisation de notre
        service.
      </p>
    </div>
    <div class="text-item">
      <h5>Modification des conditions :</h5>
      <p class="">
        Nous pouvons mettre à jour ces conditions d'utilisation. Les
        modifications seront publiées sur cette page avec une date de mise à
        jour.
      </p>
    </div>
    <div class="text-item">
      <h5>Résiliation du service :</h5>
      <p class="">
        Nous nous réservons le droit de résilier ou de suspendre votre accès à
        notre service pour violation de ces conditions.
      </p>
    </div>
    <div class="text-item">
      <h5>Loi applicable :</h5>
      <p class="">
        Ces conditions d'utilisation sont régies par les lois en vigueur dans
        votre juridiction.
      </p>
    </div>
  </div>
</div>
