<app-header></app-header>
<!-- <app-accueil></app-accueil> -->
@if (isOnline()) {

  <div class="side-router-container">
    <div class="sidemenu">
      <div>
        <img src="assets/commandes.png" alt="" />
        <span>Mes commandes</span>
      </div>
      <div>
        <img src="assets/profile.png" alt="" />
        <span>Mon profile</span>

      </div>
      <div>
        <img src="assets/location.png" alt="" />
        <span>Mon adresse</span>

      </div>
      <div [routerLink]="['/listProduit']" >
        <img src="assets/produits.png" alt="" />
        <span>Mes produits</span>

      </div>
    </div>
    <div class="router-section">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
}

@if (!isOnline()) {
  <router-outlet></router-outlet>
  <app-footer></app-footer>

}
