<div class="container">
  <div class="panier-container">
    <div class="panier-left">
      <div class="adresse">
        <div class="section-title">
          <h4 class="p-2 pb-3 fw-bold">1.ADRESSE</h4>
          <hr />
          <div
            class="d-flex w-50 justify-content-between align-items-center px-3"
          >
            <img src="assets/vector.png" alt="" />
            <div>
              <h5>Salem Malick MOHAMED</h5>
              <p>MBAO-gokhbe-arrêt gris-bordeaux</p>
              <p>778286793</p>
            </div>
          </div>
        </div>
      </div>
      <!-- livraison -->
      <div class="livraison mt-4">
        <div class="section-title">
          <h4 class="p-2 pb-3 fw-bold">2.MODE DE LIVRAISON</h4>
          <hr />
          <div
            class="d-flex w-50 justify-content-between align-items-center px-3"
          >
            <img src="assets/livIcon.png" alt="" />
            <div>
              <h5>Livraison à domicile</h5>
              <p>2000</p>
            </div>
          </div>
        </div>
      </div>

      <!-- articles -->
      <div class="articles mt-4">
        <div class="section-title">
          <h4 class="p-2 pb-3 fw-bold">3.ARTICLES DE LA COMMANDE</h4>
          <hr />
          <div class="panier-items">
            <div class="panier-item">
              <img src="assets/Madd.png" alt="" />
              <p>
                JUS DITAKH <br />
                <span>2000 fcfa</span>
              </p>
              <p>
                <!-- <i class="bi bi-plus quant" ></i> -->
                <input type="text" [value]="1" />
              </p>
              <span>2000 fcfa</span>
            </div>
            <div class="panier-item">
              <img src="assets/Madd.png" alt="" />
              <p>
                JUS DITAKH <br />
                <span>2000 fcfa</span>
              </p>
              <p>
                <!-- <i class="bi bi-plus quant" ></i> -->
                <input type="text" [value]="1" />
              </p>
              <span>2000 fcfa</span>
            </div>
            <!-- <div class="panier-item"></div> -->
          </div>
        </div>
      </div>

      <!-- confirmation -->
      <div class="confirmation mt-4">
        <div class="section-title">
          <h4 class="p-2 pb-3 fw-bold">4.CONFIRMATION DE LA COMMANDE</h4>
          <hr />
        </div>
        <div class="d-flex justify-content-between px-5">
          <h5>Articles</h5>
          <span>4000 fcfa</span>
        </div>
        <div class="d-flex justify-content-between px-5">
          <h5>Livraison</h5>
          <span>2000 fcfa</span>
        </div>
        <div class="d-flex justify-content-between px-5">
          <h5>Frais de tranfert 1%</h5>
          <span>600 fcfa</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between px-5">
          <h5>TOTAL</h5>
          <span>6600 fcfa</span>
        </div>
        <div class="w-50 m-auto mt-3">

          <button class="btn w-100" [routerLink]="['/confirmCommand']">Payer</button>
        </div>
      </div>
    </div>
    <div class="panier-right">
      <div class="recapitulatif">
        <h6 class="text-center pt-3 fw-bold">RECAPITULATIF</h6>
        <hr />
        <div
          class="d-flex flex-column justify-content-between p-lg-3"
          style="height: 150px"
        >
          <div class="d-flex justify-content-between w-100">
            <span>6 Articles</span>
            <span>3000 fcfa</span>
          </div>
          <div class="d-flex justify-content-between w-100">
            <span>Livraison</span>
            <span>2000 fcfa</span>
          </div>
          <hr />
          <div class="d-flex justify-content-between w-100">
            <span>Total</span>
            <span>5000 fcfa</span>
          </div>
          <hr />
        </div>
      </div>
      <div class="nb px-3">
        <h6 class="text-center pt-3 fw-bold">
          <i class="bi bi-info-square text-white" style="font-size: 16px"></i>
          NB
        </h6>
        <hr />
        <p>Veuillez bien préciser l’adresse de livraison</p>
        <p>Livraison en moins de 12H</p>
        <p>Uniquement à dakar</p>
      </div>
    </div>
  </div>
</div>
