.panier-container{
  display: flex;
  justify-content: space-between;
  height: auto;
  /* margin-top: 10px; */
}


.panier-right{
  width: 25%;
  color: white;
  height: auto;
}
.panier-right .recapitulatif{
  background-color: var(--darkbluecolor);
  height: 200px;
}
.panier-right .recapitulatif button{
  color: var(--darkbluecolor);
  background-color: white;
  margin-top: 12px;
}
.panier-right .nb{
  margin-top: 10px;
  background-color: var(--darkbluecolor);
  height: 200px;

}
.panier-right .nb p{
  line-height: 18px;

}


.panier-left{
  width: 72%;
  min-height: 300px;
}

/* adresse section */
.adresse
{
  height: 180px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
/* livraison section */
.livraison
{
  height: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
/* articles section */
.articles
{
  min-height: 320px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}


.panier-items .panier-item
{
  width: 90%;
  margin: 0 auto;
  /* background-color: red; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: var(--darkbluecolor);
  align-items: center;
  margin-top: 20px;
}
.panier-items .panier-item p
{
  font-weight: bold;
  /* height: 30px; */
}
.panier-items .panier-item img
{
  height: 100%;
}
.panier-items .panier-item p span
{
  font-weight: normal;
}

input{
  width: 50px;
  text-align: center;
}
/* confirmation section */
.confirmation
{
  min-height: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

button
{
  background-color: var(--darkbluecolor);
  color: white;
}
button:hover
{
  background-color: var(--darkbluecolor);
  color: white;
}

.nom_prix{
  min-width: 150px;
}.som-prix{
  min-width: 100px;
}

.panier-items .panier-item img
{
  height: 100px;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
}
