<h4 class="adminTitle">Liste des produits signalés</h4>
<div class="data-table-container px-5">

  @if (signalements.length>0) {

    <table datatable [dtOptions]="dtOptions" class="table">
      <thead id="thead">
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Commerçant</th>
          <th>Etat</th>
          <th class="last-th">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of signalements; track $index) {
        <tr>
          <td><img src="{{urlBaseImage}}{{item.Image}}" alt=""></td>
          <td>{{ item.Produit }}</td>
          <td>{{ item.email_commercant}}</td>
          <td>{{ item.Etat }}</td>
          <td class="text-center"><i class="bi bi-eye"></i></td>
        </tr>
      }
      </tbody>
    </table>
  }
</div>
