.stats-items
{
  width: 100%;
  height: 550px;
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.stats-item
{
 width: 35%;
 height: 200px;
 background-color: white;
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
 border-radius: 10px;
 display: flex;
 padding: 10px;
 justify-content: space-evenly;
 align-items: center;
}
.stats-item img
{
  width: 100px;
  height: 100px;
}
.stats-item h3
{
  text-align: center;
  font-weight: bold;
}
.stats-item h3 span
{
  font-size: 16px;
  font-weight: normal;
}
