<div class="container">
  <div class="stats-items">
    <div class="stats-item">
      <img src="assets/produit.png" alt="">
      <h3>+{{nbrLivraisons}} <br>
        <span>Commandes à livrer</span>
      </h3>
    </div>
    <div class="stats-item">
      <img src="assets/consommateur.png" alt="">
      <h3>+{{nbrClients}} <br>
        <span>Consommateurs</span>
      </h3>
    </div>
    <div class="stats-item">
      <img src="assets/ventes.png" alt="">
      <h3>+{{nbrVentes}} <br>
        <span>Ventes</span>
      </h3>
    </div>
    <div class="stats-item">
      <img src="assets/commerçant.png" alt="">
      <h3>+{{nbrVendeurs}} <br>
        <span>Commerçants</span>
      </h3>
    </div>
  </div>
</div>
