<div class="container mt-5">
  <div class="produit-container mb-5">
    <div class="produit-left">
      <img src="http://localhost:8000/images/{{produit.image}}" alt="" />
    </div>
    <div class="produit-right p-2">
      <h5>{{produit.nom_produit}}</h5>
      <!-- top  -->
      <div class="d-flex justify-content-between w-75">
        <span>
          Avis :
          <i class="bi bi-star mx-1"></i>
          <i class="bi bi-star mx-1"></i>
          <i class="bi bi-star mx-1"></i>
          <i class="bi bi-star mx-1"></i>
          <i class="bi bi-star mx-1"></i>
        </span>
        <span>
          <i class="bi bi-pen-fill"></i>
          Ecrire un avis
        </span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 17q.425 0 .713-.288T13 16q0-.425-.288-.712T12 15q-.425 0-.712.288T11 16q0 .425.288.713T12 17m-1-4h2V7h-2zm-2.75 8L3 15.75v-7.5L8.25 3h7.5L21 8.25v7.5L15.75 21z"
            />
          </svg>
          Signaler
        </span>
      </div>
      <div class="d-flex justify-content-between w-75 mt-2">
        <p>
          Disponibilité :
          <span>En stock({{produit.quantite}})</span>
        </p>
        <p>
          Vendeur :
          <span>{{produit.commercant}}</span>
        </p>
        <p>
          Portable :
          <span>{{produit.numero_tel}}</span>
        </p>
      </div>
      <!-- description  -->
      <hr />
      <p class="description">
       {{produit.description}}
      </p>
      <!-- <p class="description">
        Plongez dans une expérience gustative éclatante avec notre jus de citron
        d'une fraîcheur inégalée. Pressé à partir de citrons juteux, ce nectar
        pétillant ajoute une touche vivifiante à vos boissons et plats. <br />
        <br />
        Au-delà de son goût délicieusement acidulé, ce jus regorge de bienfaits.
        Riche en vitamine C, il stimule l'immunité, favorise une peau éclatante
        et offre une dose naturelle d'antioxydants. Découvrez la vitalité pure
        dans chaque goutte, une invitation à la santé et à la délectation des
        sens.
      </p> -->
      <hr />
      <h5>{{produit.prix}} fcfa</h5>
      <p>
        Quantité :
        <i class="bi bi-caret-up-fill" (click)="upOrDownQuantity('up')"></i>
        <!-- <i class="bi bi-plus quant" ></i> -->
        <input type="text" [value]="quantite" />
        <i class="bi bi-caret-down-fill" (click)="upOrDownQuantity('down')"></i>
      </p>
      <div class="d-flex justify-content-between w-50">
        <button class="btn" (click)="postPanier(produit)">Ajouter au panier</button>
        <button class="btn">Commander</button>
      </div>
    </div>
  </div>
  <div class="tabs-contanier">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <div class="m-auto d-flex">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Liste des Avis
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Produits Similaires
          </button>
        </div>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active mx-5"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
        tabindex="0"
      >
        <div class="avis-items">
          <div class="avis-item p-2">
            <div class="d-flex justify-content-between w-50 m-auto mt-2 mb-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <span class="fw-bold mt-3 mb-3">Explosion de Fraîcheur!</span>
            <p>
              "Ce jus de citron est une révélation! Son goût pétillant et ses
              bienfaits m'ont conquise. Parfait pour tous les jours.”
            </p>
          </div>
          <div class="avis-item p-2">
            <div class="d-flex justify-content-between w-50 m-auto mt-2 mb-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
            </div>
            <span class="fw-bold mt-3 mb-3">Explosion de Fraîcheur!</span>
            <p>
              "Ce jus de citron est une révélation! Son goût pétillant et ses
              bienfaits m'ont conquise. Parfait pour tous les jours.”
            </p>
          </div>
          <div class="avis-item p-2">
            <div class="d-flex justify-content-between w-50 m-auto mt-2 mb-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <span class="fw-bold mt-3 mb-3">Explosion de Fraîcheur!</span>
            <p>
              "Ce jus de citron est une révélation! Son goût pétillant et ses
              bienfaits m'ont conquise. Parfait pour tous les jours.”
            </p>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade mx-5"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        tabindex="0"
      >
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
          <div class="col" [routerLink]="['/produit', 1]">
            <div class="card" id="card">
              <div class="text-center image">
                <img src="assets/Madd.png" alt="" />
              </div>
              <div class="card-text">
                <h6 class="text-center">Confiture de madd</h6>
                <span class="text-center">2000 fcfa</span>
                <div class="text-center">
                  <button class="btn">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" id="card">
              <div class="text-center image">
                <img src="assets/Madd.png" alt="" />
              </div>
              <div class="card-text">
                <h6 class="text-center">Confiture de madd</h6>
                <span class="text-center">2000 fcfa</span>
                <div class="text-center">
                  <button class="btn">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" id="card">
              <div class="text-center image">
                <img src="assets/Madd.png" alt="" />
              </div>
              <div class="card-text">
                <h6 class="text-center">Confiture de madd</h6>
                <span class="text-center">2000 fcfa</span>
                <div class="text-center">
                  <button class="btn">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" id="card">
              <div class="text-center image">
                <img src="assets/Madd.png" alt="" />
              </div>
              <div class="card-text">
                <h6 class="text-center">Confiture de madd</h6>
                <span class="text-center">2000 fcfa</span>
                <div class="text-center">
                  <button class="btn">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
