<div class="container-bloc">
  <div class="sidebar">
    <div class="logo">
      <!-- <span class=""> GestionNoteLogo </span> -->
      <img src="assets/panierLocal-logo.png" alt="" />
    </div>
    <!-- admin -->
    <div class="sidebar-items">
      <div class="dashboard" routerLinkActive="active-link"  routerLink="accueil">
        <span> <i class="bi bi-pie-chart"></i> Statistiques </span>
      </div>

      <div class="sidebar-item"  routerLinkActive="active-link" routerLink="utilisateur">
        <span> <i class="bi bi-people-fill"></i> Utilisateurs </span>
      </div>
      <div class="sidebar-item"  routerLinkActive="active-link" routerLink="livraison">
        <span> <i class="bi bi-truck"></i> Livraison </span>
      </div>
      <div class="sidebar-item"  routerLinkActive="active-link" routerLink="newsletter">
        <span> <i class="bi bi-card-text"></i> Newsletter </span>
      </div>
      <div class="sidebar-item" routerLinkActive="active-link" routerLink="signalement" >
        <span> <i class="bi bi-x-octagon"></i> Signalement</span>
      </div>
      <div class="sidebar-item" routerLinkActive="active-link" routerLink="categorie" >
        <span> <i class="bi bi-tags"></i> Categories </span>
      </div>
      <div class="sidebar-item" routerLinkActive="active-link" routerLink="livreur" >
        <span> <i class="bi bi-person-walking"></i> Livreurs </span>
      </div>
      <div class="sidebar-item" routerLinkActive="active-link" routerLink="feedback">
        <span> <i class="bi bi-envelope-paper-heart-fill"></i> Feedback</span>
      </div>
    </div>
    <!-- prof -->

    <!-- <div class="logout">
      <span><i class="bi bi-box-arrow-left"></i> Déconnexion</span>
    </div> -->
  </div>

  <div class="right-content">
    <div class="right-top d-flex justify-content-end">
      <div
        class="d-flex justify-content-between profile align-items-center px-4"
      >
        <i class="bi bi-bell-fill" ></i>
        <i class="bi bi-person-circle" (click)="deconnexion()"></i>
      </div>
    </div>
    <div class="right-container p-3">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
