.panier-container{
  display: flex;
  justify-content: space-between;
  height: auto;
  /* margin-top: 10px; */
}


.panier-right{
  width: 25%;
  color: white;
  height: auto;
}
.panier-right .recapitulatif{
  background-color: var(--darkbluecolor);
  height: 300px;
}
.panier-right .recapitulatif button{
  color: var(--darkbluecolor);
  background-color: white;
  margin-top: 12px;
}
.panier-right .nb{
  margin-top: 10px;
  background-color: var(--darkbluecolor);
  height: 200px;

}
.panier-right .nb p{
  line-height: 18px;

}


.panier-left{
  width: 72%;
  /* background-color: black; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  min-height: 300px;

}


/* panier items  */

.panier-items
{

}
.panier-items .panier-item
{
  width: 90%;
  margin: 0 auto;
  /* background-color: red; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: var(--darkbluecolor);
  align-items: center;
  margin-top: 20px;
}
.panier-items .panier-item p
{
  font-weight: bold;
  /* height: 30px; */
}
.panier-items .panier-item img
{
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.panier-items .panier-item p span
{
  font-weight: normal;
}

input{
  width: 50px;
  text-align: center;
}
i{
  color: var(--darkbluecolor);
  font-size: 25px;
  cursor: pointer;
}

.nom_prix{
  min-width: 150px;
}.som-prix{
  min-width: 100px;
}


@media screen and (max-width:767px){
  .panier-container{
    flex-direction: column-reverse;
    .panier-right{
      width: 100%;
    }
    .panier-left{
      width: 100%;
      box-shadow: none;
      /* margin-bottom: 10px; */
    }
  }


/* panier items  */


.panier-items .panier-item
{
  width: 100%;
  margin: 0 auto;
  /* background-color: red; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: var(--darkbluecolor);
  align-items: center;
  margin-top: 10px;
}
.panier-items .panier-item p
{
  font-weight: bold;
  font-size: 14px;
  /* height: 30px; */
}
.panier-items .panier-item img
{
  height: 70px;
  width: 70px;
}
.panier-items .panier-item p span
{
  font-weight: normal;
}

input{
  width: 25px;
  text-align: center;
}
i{
  color: var(--darkbluecolor);
  font-size: 20px;
  cursor: pointer;
}

.nom_prix{
  min-width: 120px;
}.som-prix{
  min-width: 100px;
  display: none;
}

}
