<div class="container">
  <div class="panier-container">
    <div class="panier-left p-2">
      <div class="section-title">
        <h4>PANIER</h4>
        <hr />
      </div>
      <div class="panier-items">
        @for (item of panier; track $index) {

          <div class="panier-item">
            <img src="{{urlBaseImage}}{{item.produit.image}}" alt="" [routerLink]="['/detailsProduit',item.produit.id]" />
            <p class="nom_prix" [routerLink]="['/detailsProduit',item.produit.id]">
              {{item.produit.nom_produit}} <br />
              <span>{{item.produit.prix}} fcfa</span>
            </p>
            <p>
              <!-- <i class="bi bi-plus quant" ></i> -->
              <i
                class="bi bi-caret-down-fill"
                (click)="upOrDownQuantity('down',item.produit.id)"
              ></i>
              <input type="text" [value]="item.quantitePanier" />
              <i class="bi bi-caret-up-fill" (click)="upOrDownQuantity('up',item.produit.id)"></i>
            </p>
            <span class="som-prix">{{item.produit.prix*item.quantitePanier}} fcfa</span>
            <i class="bi bi-trash3" (click)="deleteFromPanier(item.produit.id)"></i>
          </div>
        }

        <!-- <div class="panier-item"></div> -->
      </div>
    </div>
    <div class="panier-right">
      <div class="recapitulatif p-3">
        <h6 class="text-center pt-3 fw-bold">RECAPITULATIF</h6>
        <hr />
        <div
          class="d-flex flex-column justify-content-between p-lg-3"
          style="height: 150px"
        >
          <div class="d-flex justify-content-between w-100">
            <span>{{nombreArticles}} Articles</span>
            <span>{{sommeArticles}} fcfa</span>
          </div>
          <div class="d-flex justify-content-between w-100">
            <span>Livraison</span>
            <span>{{prixLivraion}} fcfa</span>
          </div>
          <hr />
          <div class="d-flex justify-content-between w-100">
            <span>Total</span>
            <span>{{prixLivraion+this.sommeArticles}} fcfa</span>
          </div>
          <hr />
          <button class="btn" (click)="isOnline()" >Commander</button>
        </div>
      </div>
      <div class="nb px-3">
        <h6 class="text-center pt-3 fw-bold"><i class="bi bi-info-square text-white" style="font-size: 16px;"></i> NB</h6>
        <hr />
        <p>Veuillez bien préciser  l’adresse de livraison</p>
        <p>Livraison en moins de 3H</p>
        <p>Uniquement à dakar</p>
      </div>
    </div>
  </div>
</div>
