.form-container {
  height: 500px;
  border: 10px var(--darkbluecolor) solid;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  button{
    width: 60%;
    background-color: var(--darkbluecolor);
    color: white;
    font-weight: bold;
  }

  h5{
    color: var(--darkbluecolor);
  }
}

.form-image {
  width: 50%;
}

.form-left {
  width: 45%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input,select {
    width: 60%;
    border: none;
    border-bottom: 2px var(--darkbluecolor) solid;
    padding-left: 20px;
    transition: 1s ease;
  }

  input:focus, select:focus {
    border-bottom: 5px var(--darkbluecolor) solid;
  }

  .form-element {
    display: flex;
    justify-content: space-between;
  }
}
