.catalogue-container{
  display: flex;
  justify-content: space-between;
  height: auto;
  /* margin-top: 10px; */
}


.catalogue-left{
  width: 25%;
  color: white;
  height: auto;
}
.catalogue-left .categorie{
  background-color: var(--darkbluecolor);
  height: 300px;
}
.catalogue-left .categorie span{
  cursor: pointer;
}
.catalogue-left .recherche{
  background-color: var(--darkbluecolor);
  height: 230px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.catalogue-right{
  width: 72%;
  /* background-color: black; */

}



/* process banner */
.processItems{
  height: 120px;
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.processItem{
 width: 33%;
 /* border: 1px white solid; */
 display: flex;
 align-items: center;
 /* justify-content: space-between; */
}
.processItem img{
  width: 40%;
  height: 80%;
}
.processItem p{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  color: var(--darkbluecolor);
  line-height: 25px;
}
.processItem p span{
  font-size: 15px;
}



/* responsive design */
@media screen and (max-width:767px){
  #card{
    height: auto;
  }
}
