<div class="container mt-3">
  <div class="catalogue-container">
    <div class="catalogue-left">
      <div class="categorie">
        <h6 class="text-center pt-3 fw-bold">CATEGORIES</h6>
        <div
          class="d-flex flex-column justify-content-between p-lg-4"
          style="height: 250px"
        >
          <span>Tout</span>
          <span>Produits de artisanaux</span>
          <span>Produits de mer</span>
          <span>Produits épicerie</span>
          <span>Boisson locales</span>
          <span>Produits de la terre</span>
        </div>
      </div>
      <div class="recherche px-3">
        <h6 class="text-center pt-3 fw-bold">RECHERCHE ET FILTRE</h6>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" />
          <label for="floatingInput">Rechercher</label>
        </div>
        <hr />
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <label for="floatingSelectGrid">Filtrer par prix</label>
          </div>
        </div>
      </div>
    </div>
    <div class="catalogue-right">
      <div class="processItems">
        <div class="processItem">
          <img src="assets/process1.png" alt="" />
          <p>
            Je commande <br />
            <span>Depuis chez moi</span>
          </p>
        </div>
        <div class="processItem">
          <img src="assets/process2.png" alt="" />
          <p>
            On me livre <br />
            <span>En un temps record</span>
          </p>
        </div>
        <div class="processItem">
          <img src="assets/process3.png" alt="" />
          <p>
            Je déguste <br />
            <span>Avec satisfaction</span>
          </p>
        </div>
      </div>
      <div class="nouveaute mt-4">
        <div class="section-title">
          <h4>Tout</h4>
          <hr />
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          @for (item of produits; track $index) {

            <div class="col" [routerLink]="['/detailsProduit',item.id]">
              <div class="card" id="card">
                <div class="text-center image">
                  <img src="http://localhost:8000/images/{{item.image}}" alt="" />
                </div>
                <div class="card-text">
                  <h6 class="text-center">{{item.nom_produit}}</h6>
                  <span class="text-center">{{item.prix}} fcfa</span>
                  <div class="text-center">
                    <button class="btn">Ajouter au panier</button>
                  </div>
                </div>
              </div>
            </div>
          }

        </div>
        <div class="pagination">
          <span>Précedent</span>
          <span>1</span>
          <span>2</span>
          <span>Suivant</span>
        </div>
      </div>
    </div>
  </div>
</div>
