<div class="panier-left p-2">
  <div class="section-title">
    <h4 class="text-center fw-bold">Confidentialité et Sécurité</h4>
  </div>
  <div class="text-items pt-2">
    <div class="text-item">
      <h5>Informations collectés :</h5>
      <p class="">
        Nous collectons les informations que vous fournissez volontairement lors
        de l'inscription, de la création de profil, ou de l'utilisation de nos
        services. Les informations collectées peuvent inclure des données
        personnelles telles que votre nom, adresse, numéro de téléphone, adresse
        e-mail, etc. Nous utilisons des cookies et des technologies similaires
        pour collecter des informations sur votre utilisation de notre site web.
      </p>
    </div>
    <div class="text-item">
      <h5>Utilisation des informations :</h5>
      <p class="">
        Nous utilisons vos informations pour faciliter la mise en relation entre
        commerçants et consommateurs. Les informations peuvent être utilisées pour
        personnaliser votre expérience, améliorer nos services, et vous informer
        des mises à jour importantes.
      </p>
    </div>
    <div class="text-item">
      <h5>Partage d'information :</h5>
      <p class="">
        Nous ne vendons, ne louons ni ne partageons vos informations
        personnelles avec des tiers sans votre consentement, sauf dans les cas
        prévus par la loi.
      </p>
    </div>
    <div class="text-item">
      <h5>Sécurité des données :</h5>
      <p class="">
        Nous mettons en place des mesures de sécurité pour protéger vos
        informations contre tout accès non autorisé ou utilisation abusive.
      </p>
    </div>
    <div class="text-item">
      <h5>Vos droits :</h5>
      <p class="">
        Vous avez le droit d'accéder à vos données personnelles, de les
        rectifier, de les supprimer, de vous opposer à leur traitement, ou de
        demander leur portabilité. Vous pouvez exercer ces droits en nous
        contactant à travers la page contact <a [routerLink]="['/contact']" >ici</a>.
      </p>
    </div>
    <div class="text-item">
      <h5>Modification de la politique :</h5>
      <p class="">
        Nous pouvons mettre à jour cette politique de confidentialité. Les
        modifications seront publiées sur cette page avec une date de mise à
        jour.
      </p>
    </div>
  </div>
</div>
